<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Koala Bot!</title>
      <link href="https://cdn.discordapp.com/avatars/453601455698608139/878faa09c16a0a3ee67d77459bb80c82.png?size=2048" rel="icon" type="image/x-icon">
    <meta name="description" content="Koala Bot is a discord.js bot come meet him!">
	<link href="https/cdn.discordapp.com/avatars/453601455698608139/878faa09c16a0a3ee67d77459bb80c82.png?width=474&height=474" rel="icon" type="image/x-icon">
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="width=device-width" name="viewport">
    
	<meta content="profile" property="og:type">
	<meta content="Koala Bot is a discord.js bot come meet him!" property="og:description">
		<meta content="#00CC99" data-react-helmet="true" name="msapplication-TileColor">
	<meta content="#00CC99" data-react-helmet="true" name="theme-color">
    <meta content="https://images-ext-2.discordapp.net/external/lDoaBNzTcNGe783azciTrI5FzfN4JsSYM4A53fdOWtk/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/453601455698608139/878faa09c16a0a3ee67d77459bb80c82.png?width=474&height=474" property="og:image">
 <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47473522-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-47473522-4');
  </script>

</head>

<body>

 
  
  <div class="main">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://koala.glitch.me/">Koala</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="https://koala.glitch.me/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/invite">Invite</a>
          
          <a class="nav-item nav-link" href="https://discord.gg/Fdc5es8">Server</a>
        </div>
      </div>
  
  
</nav>    <center>
    
    
          <div class="row text-center">
          <div class="col-md-12">
            <h1>Meet the team behind Koala!</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="<%= tavatar%>">
            <p>
              <br />
              <b><a href="https://koala.glitch.me/profile/338192747754160138">Tea Cup</a></b>
              <br>main developer and creator of Koala.</p>
          </div>
          <div class="col-md-4 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="<%= savatar%>">
            <p>
              <br />
              <b><a href="https://koala.glitch.me/profile/293140948416856064">Shadat.</a></b>
              <br>Co-Dev</p>
          </div>
          <div class="col-md-4 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="<%= eavatar %>">
            <p>
              <br />
              <b><a href="https://koala.glitch.me/profile/364007557045551106">End Dragon</a></b>
              <br>Head of Staff.</p>
          </div>
         
          </div>
    
        <br />
        <div class="row text-center">
            <div class="col-md-12">
              <h1> Partners!</h1>
          </div>
              <br />
           
          </div>
    
          <div class="row">
              <div class="col-md-2"></div>
             
                          <div class="col-md-4">
                <center><img class="img-fluid d-block rounded-circle mx-auto" src="<%= sev %>"><br /><h4>Example Page</h4><br />Wanna become an partner?<br /><br />About Page: <a href="/partner/example">Here</a></center></div>
              <div class="col-md-2"></div>
            
              <div class="col-md-4">
                <center><img class="img-fluid d-block rounded-circle mx-auto" src="<%= ser %>"><br /><h4>Network-Gen</h4><br />A fun gaming comunity Waiting for you!!<br /><br />About Page: <a href="/partner/network-gen">Here</a></center></div>
              <div class="col-md-2"></div>
            
          </div>
    </center></div>
    
    
    
    
  
  </body>
</html>
